header {
  width: 100%;
  height: 75px;
  /* border: 1px solid black; */
}

#b {
  background-color: aqua;
  width: 100%;
  height: 150px;
}

.group1 {
  width: 100%;
  height: 125px;
}

.group2 {
  width: 100%;
  height: 500px;
  /* display: inline-block; */
}

footer {
  width: 100%;
  height: 80px;
  background-color: grey;
}