#a {
  background-color: blue;
}

#c {
  background-color: brown;
}

#d {
  background-color: blueviolet;
}

#e {
  background-color: yellow;
  height: 250px;
  width: 50%;
  float: left;
}

#f {
  background-color: green;
  height: 250px;
  width: 50%;
  float: left;
}

#g {
  background-color: red;
  height: 250px;
  width: 50%;
  float: left;
}

#h {
  background-color: pink;
  height: 250px;
  width: 50%;
  float: left;
}

